[
    [
    'file, open_file_menu, ctrl-f',
        [
        'new,new,ctrl-n',        # Fixed: ctrl-c conflict (was duplicate of copy)
        'open,open,ctrl-o',
        'save,save,ctrl-s',
        'save as,save_as,ctrl-shift-s',  # Added common shortcut
        'close,close,ctrl-q'
        ],
    ],
]
; [ [ file, [ new, open] ], [ edit, [ copy, paste] ]
;    [
;    'edit',
;        [
;        'copy,copy,ctrl-c',
;        'cut,cut,ctrl-x',
;        'paste,paste,ctrl-v'
;        ],
;    ],
;    [
;    'format',
;        [
;        'word wrap,word_wrap,none'
;        ],
;    ]
;    [
;    'help',
;        [
;        'help,view_help,none',           # Fixed typo: vew_help -> view_help
;        'about,view_about,none'
;        ],
;    ],
;    [
;        'about, show_about, ctrl-h',
;    ],
;    [
;    'main_menu',
;        [
;        'sub_menu_1'
;        ],
;        [
;        'sub_menu_2',
;            [
;                'sub_menu_2.1',
;                [
;                    'show_item, show_item, none'
;                ],
;            ],
;        ],
;        ],
;    ]
;
;]